*{
    margin: 0;
    padding: 0;
    /* 内减模式 */
    box-sizing: border-box;
}
li{
    list-style: none;
}
p{
    text-decoration: none;
}
a{
    text-decoration: none;
}
.clearfix::before,.clearfix::after{
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}


body{
    background-color: #f3f5f7;
}

/* 版心 */
.wrapper{
    width: 1200px;
    margin: 0 auto;
}

/* 头部 */
.header{
    height: 42px;
    margin: 30px auto;
}

h1{
     float: left;
}

.header h1 img{
    width: 195px;
    height: 42px;
}

/* 导航 */
.nav{
    float: left;
    margin-left: 70px;
    height: 42px;
}
.nav li{
    float: left;
    margin-right: 26px;
}

.nav li a{
    display: block;
    padding: 0 9px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
    text-decoration: none;
}

.nav li a:hover{
border-bottom: 2px solid #00a4ff;
}

/* 搜索 */
.search{
    float: left;
    margin-left: 50px;
    width: 412px;
    height: 42px;
    border: 1px solid #00a4ff;
    border-radius: 10px 10px 10px 10px;
}

.search input{
    float:left;
    padding-left: 20px;
    width: 360px;
    height: 40px;
    border: 0;
    border-radius: 10px 0px 0px 10px;
}

.search input::placeholder{
    font-size: 14px;
    color: #bfbfbf;
    border-radius: 0px 10px 10px 0px;
}

.search button{
    float: left;
    width: 50px;
    height: 40px;
    background-image: url(../images/search.png);
    border: 0;
    border-radius: 0px 10px 10px 0px;
}

.user{
    float: right;
    margin-right: 35px;
    height: 42px;
    line-height: 42px;
}
.user a{
    color: rgb(0, 0, 0);
}
.user a:hover{
    color:  #38acf7;
}
.user img{
    /* 调节图片垂直对齐方式，middle居中 */
    vertical-align: middle;
}
/* 固定盒子 */
.fixed{
    padding: 10px;
    padding-left: 10px;
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 80px;
    height: 130px;
    background-color: rgba(232, 232, 232, 0.6);
    
    border-radius: 8px;
}
.fixed a{
    font-size: 12px;
    color: #000;
}
.fixed a:hover{
    color: #38acf7;
}
.code{
    display: none;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 41px;
    text-transform: (-50%);
}

.fixed li a:hover .code{
    display: block;
}

/* 选择课程 */
.type{
    width: 1250px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 0px rgba(118,118,118,0.2);
    margin: 0 auto;
    border: #000;
}
.type h4{
    position: relative;
    top: 20px;
    left: 35px;
    bottom: 20px;
    font-weight:520;
}
.title1{
    position: relative;
    top: 30px;
    width: 1200px;
    height: 65px;
    /* background-color: rgb(88, 80, 80); */
    margin: 0 auto;
}
.title2{
    position: relative;
    top: 2.5px;
    width: 1200px;
    height: 20px;
    background-color: #fff;
    margin: 20px auto;
}
.title3{
    position: relative;
    top: 0px;
    width: 1200px;
    height: 20px;
    background-color: #fff;
    margin: 10px auto;
}
.title1 li{
    float: left;
    margin-left: 10px;
    font-size: 15px;
}
.title2 li{
    float: left;
    margin-left: 10px;
    font-size: 15px;
}
.title3 li{
    float: left;
    margin-left: 10px;
    font-size: 15px;
}
.title1 a,.title2 a,.title3 a{
    color: rgba(66, 66, 66, 0.6);
}
.type a:hover{
    background-color: #38acf7;
    color: #fff;
    border-radius: 3px;
}

/* 课程 */
.box{
    margin-top: 35px;
}
.box .title{
    height: 40px;
}
.box .title h2{
    float: left;
    font-size: 20px;
    color: #494949;
    font-weight: 400;
}

.box .title a{
    float: right;
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.box .content li{
    position: relative;
    float: left;
    margin-right: 28px;
    margin-bottom: 25px;
    width: 278px;
    height: 300px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 5px 0px rgba(118,118,118,0.2);
}

.box .content .advertising{
    width: 278px;
    height: 190px;
    border-radius: 12px 12px 0 0;
}

.box .content  .advertising:hover{
    margin:0 auto;
    transform: scale(0.97);
}

.box .content li:nth-child(4n){
    margin-right: 0;
}

.box .content li h3{
    padding: 20px;
    font-size: 16px;
    color: #050505;
    font-weight: 400;
}
.box .content li h3:hover{
    color: #0048d9;
}

.box .content li p{
    padding: 0 20px;
    font-size: 12px;
    color: #999;
}

.box .content li span{
    color: #00a4ff;
}

.box .content li .hot{
    position: absolute;
    right: -7px; ;
    top: 6px;
}

/* 尾部 */
.tail{
    width: 500px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
}

.tail li a{
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 10px;  
    border-radius: 4px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #333; 
}
.tail li p{
    position: relative;
    top: 8.5px;
    left: 15px;
    color: #333;
}
.tail li a:hover{
    background-color: #00a4ff;
}
.tail li p:hover{
    color: #fff;
}
.tail li .one{
    background-color: #00a4ff;
}


/* 版权 */
.footer{
    margin-top: 40px;
    padding-top: 30px;
    height: 417px;
    background-color: #fff;
}

.footer .left{
    float: left;
}

.footer .left p{
    margin: 20px 0 10px;
    font-size: 12px;
    color: #666;
}

.footer .left a{
    display: inline-block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #00a4ff;
}

.footer .left img{
    width: 195px;
    height: 42px;
}
.footer .right{
    float: right;
}

.footer .right dl{
    float: right;
    margin: 35px 0 0 40px;
    width: 94px;
}

.footer .right dt{
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.footer .right a{
    font-size: 12px;
    color:#333;
}

.footer .right img{
    width: 100px;
}
